= simple_form_for @user, { :class => 'form-horizontal'} do |f|

  =f.input :name, label: "first name"


  =f.input :last_name

  =f.input :email

  =f.input :password

  =f.input :password_confirmation
   
  =f.input :mobile


  = f.label :nhs_trust, label: "NHS Trust"
  = f.text_field :trust, data: {autocomplete_source: locations_path} 

 
  = f.input :mailing_list, label:'If you would like to receive email updates about future courses please check the box. NB: we will never disclose your email address to third parties', :as=> :boolean
 

  .div
  = f.submit nil, label:'Register', :class => 'btn btn-primary'
