%h1 Welcome Medicalcoursehub 
%p To use Medicalcoursehub you need an account. If you've already signed up, #{link_to "login here", login_path}.

= simple_form_for @user, { :class => 'form-horizontal'} do |f|
    -if @course
        %h2 You are registering on #{@course.title}
        =hidden_field_tag :course_id, @course.id

    = render 'form', f: f
    

    
    =f.submit 'Register', :class => 'btn btn-primary'
= link_to 'Back', users_path
