%p#notice= notice

%p
  %b Name:
  = @user.name
%p
  %b Email:
  = @user.email
%p
  %b Mobile:
  = @user.mobile

%h2 Registered Courses
%table.table-striped.table-hover
  %tr
    %th Course
    %th Feedback Form Completed?
    %th Certificate Sent?
    %td Paid?
    %th status
    %th
  -@user.registrations.each do |registration|
    %tr
      %td= registration.course.title
      %td= registration.feedback_form_completed ? "Yes" : "No"
      %td= registration.certificate_sent ? "Yes" : "No"
      %td= registration.paid ? "Yes" : "No"
      %td= registration.waiting_list ? "Waiting List" : "Registered"
      %td= link_to "GIVE ME MY CERTIFICATE!!!!", certificate_registration_path(registration) 

%h2 Add a Course
=form_for Registration.new do |f|
  =f.hidden_field :user_id, value: @user.id
  =f.collection_select :course_id, Course.order('title ASC'), :id, :title
  =f.submit "Add Course Registration"
    
= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path