%h1 Listing courses

%table
  %tr
    %th Title
    %th Date
    %th Start time
    %th End time
    %th Venue
    %th Description
    %th Price
    %th
    %th
    %th

  - @courses.each do |course|
    %tr
      %td= course.title
      %td= course.date
      %td= course.start_time
      %td= course.end_time
      %td= course.venue
      %td= course.description
      %td= course.price
      %td= link_to 'Show', course
      %td= link_to 'Edit', edit_course_path(course)
      %td= link_to 'Destroy', course, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Course', new_course_path
