%h1 Listing courses

%table.table.table-bordered.table-striped.table-hover
  %tr
    %th Title
    %th Start time
    %th End time
    %th Venue
    %th Description
    %th Price
    %th Places available
    %th Number Registered
    %th Places Left
    %th Course Details
    %th Click to register

  - @courses.each do |course|
    %tr
      %td= course.title
      %td= course.start_time.to_s(:long)
      %td= course.end_time.to_s(:long)
      %td= course.venue
      %td= course.description
      %td= number_to_currency(course.price, :unit => "&pound;", :separator => ",", :delimiter => "")
      %td= course.places_available
      %td= pluralize course.users.size, 'place'
      %td= course_places_remaining(course)
      %td= link_to 'Show', course, :class => 'btn btn-mini btn-primary'
      %td= link_to register_btn_text(course), registrations_path(course_id: course.id), method: :post, :class => 'btn btn-mini btn-primary'
