%h1 Listing courses

%table.table.table-striped.table-hover
  %tr
    %th Title
    %th Start time
    %th End time
    %th Venue
    %th Description
    %th Price
    %th Places available
    %th Number Registered
    %th Places Left

  - @courses.each do |course|
    %tr
      %td= course.title
      %td= course.start_time.to_s(:time)
      %td= course.end_time.to_s(:time)
      %td= course.venue
      %td= course.description
      %td= number_to_currency(course.price, :unit => "&pound;", :separator => ",", :delimiter => "")
      %td= course.places_available
      %td= pluralize course.users.size, 'place'
      %td= pluralize course.places_remaining, 'place'
      %td= link_to 'Show', course
      -if user_logged_in? && current_user.admin?
        %td= link_to 'Edit', edit_course_path(course)
        %td= link_to 'Destroy', course, :method => :delete, :data => { :confirm => 'Are you sure?' }
           
      -if course.places_remaining > 0
        %td= link_to "Register", registrations_path(course_id: course.id), method: :post
      -else
        %td= link_to "Add me to the waiting list", new_user_path(@user)

%br

= link_to 'New Course', new_course_path
