%p#notice= notice

%p
  %b Title:
  = @course.title
%p
  %b Start time:
  = @course.start_time
%p
  %b End time:
  = @course.end_time
%p
  %b Venue:
  = @course.venue
%p
  %b Description:
  = @course.description
%p
  %b Price:
  = @course.price



%h2 Registered Participants
%table
  %tr
    %th User
    %th Feedback Form Completed?
    %th Certificate Sent?
    %th Paid?
    %th status
  -@course.registrations.each do |registration|
    %tr
      %td= registration.user.name
      %td= registration.feedback_form_completed ? "Yes" : "No"
      %td= registration.certificate_sent ? "Yes" : "No"
      %td= registration.paid ? "Yes" : "No"
      %td= registration.waiting_list ? "Waiting List" : "Registered"

%h2 Add a Participant
=form_for Registration.new do |f|
  =f.hidden_field :course_id, value: @course.id
  =f.label :name
  =f.collection_select :user_id, User.order('name ASC'), :id, :name
  =f.submit "Add Participant"


= link_to 'Edit', edit_course_path(@course)
\|
= link_to 'Back', courses_path