= simple_form_for ([:admin, @user]), { :class => 'form-horizontal'} do |f|

  =f.input :name, label: "First name"


  =f.input :last_name

  =f.input :email

  =f.input :password

  =f.input :password_confirmation
   
  =f.input :mobile


  = f.label :nhs_trust
  = f.text_field :trust, data: {autocomplete_source: locations_path} 

 

  = f.input :mailing_list, label:'If you would like to receive email updates about future courses please check the box. NB: we will never disclose your email address to third parties', :as=> :boolean
 
  .div

  
  = f.input :admin, label:'toggle to set admin rights', :as=> :boolean
  .div
  = f.submit nil, label:'Save', :class => 'btn btn-primary'
