= simple_form_for ([:admin, @user]), { :class => 'form-horizontal'} do |f|

  =f.input :name, label: "first name"


  =f.input :last_name

  =f.input :email

  =f.input :password

  =f.input :password_confirmation
   
  =f.input :mobile


  = f.label :nhs_trust
  = f.text_field :trust, data: {autocomplete_source: locations_path} 

 
 

  -if user_logged_in? && current_user.admin?
    = f.input :admin, label:'toggle to set admin rights', :as=> :boolean
  .div
  = f.submit nil, label:'Save', :class => 'btn btn-primary'
