%p#notice= notice

%p
  %b Name:
  = @user.name
%p
  %b Email:
  = @user.email
%p
  %b Mobile:
  = @user.mobile

%h2 Registered Courses
%table.table.table-bordered.table-striped.table-hover
  %tr
    %th Course
    %th Feedback Form Completed?
    %th Certificate Sent?
    %td Paid?
    %th status
    %th Certificate PDF
  -@user.registrations.each do |registration|
    %tr
      %td= registration.course.title
      %td= registration.feedback_form_completed ? "Yes" : "No"
      %td= registration.certificate_sent ? "Yes" : "No"
      %td= registration.paid ? "Yes" : "No"
      %td= registration.waiting_list ? "Waiting List" : "Registered"
      %td= link_to "Click for certficate", certificate_registration_path(registration) 

= link_to 'Edit', edit_admin_user_path(@user)
\|
= link_to 'Back', admin_users_path