%h1 Editing course


= simple_form_for ([:admin, @course]), {:html => {:multipart => true}, :class => 'form-horizontal'} do |f|
    = render 'form', f: f
    

    = f.submit "Update Course", :class => 'btn btn-primary'


= link_to 'Show', admin_course_path(@course)
\|
= link_to 'Back', admin_courses_path



