
-if user_logged_in?

    %li.home-page-menu-item
        = link_to admin_dashboard_path do
            .glyphicon.glyphicon-search
            Dashboard

    %li.home-page-menu-item
        = link_to admin_courses_path do
            .glyphicon.glyphicon-th-list
            Upcoming Courses

    %li.home-page-menu-item
        = link_to admin_users_path do
            .glyphicon.glyphicon-user
            Users
    %li.home-page-menu-item
        = link_to logout_path(@session) do
            .glyphicon.glyphicon-lock
            Logout admin

-else
    %li.home-page-menu-item
        = link_to 'Login', login_path(@session)
    %li.home-page-menu-item
        = link_to'Sign up', signup_path(@user)

