= link_to "Home", root_path, :class => 'brand'
%ul.nav
  - if user_logged_in?
    %li
      = link_to 'Logout', logout_path(@session)
    %li 
      = link_to("#{current_user.email}", '#')
    %li 
      = link_to 'My Courses', user_path(current_user)  
  - else
    %li
      = link_to 'Login', login_path(@session)
  - if user_logged_in?
    %li
      = link_to('Edit account', '#')

      
  - else
    %li
      = link_to'Sign up', signup_path(@user)
