


-if user_logged_in?
  %li.home-page-menu-item 
    = link_to logout_path(@session) do
      .glyphicon.glyphicon-lock
      Logout
  
  %li.home-page-menu-item 
    = link_to courses_path do
      .glyphicon.glyphicon-th-list
      Available Courses

  %li.home-page-menu-item 
    = link_to registrations_path do
      .glyphicon.glyphicon-bookmark
      My Courses
          
  %li.home-page-menu-item 
    = link_to edit_user_path(current_user) do
      .glyphicon.glyphicon-wrench
      Edit Details


  

- else
  %li.home-page-menu-item
    = link_to login_path(@session) do 
      .glyphicon.glyphicon-lock
      Login
        
  %li.home-page-menu-item
    = link_to signup_path(@user) do
      .glyphicon.glyphicon-pencil
      Sign Up
    


  

      